# Analysis of the results for Experiment 3

In [1]:
import pandas as pd
import numpy as np

In [2]:
dtypes = {'Dataset': 'category',
          ' Model': 'category',
          ' Seed': np.int32,
          ' Aug': 'category',
          ' BestEpoch': np.int32,
          ' TestAcc': np.float64,
          ' TestLoss': np.float64,
          ' ValAcc': np.float64,
          ' ValLoss': np.float64,
          ' Device': 'category',
          ' Time': np.float64
          }

In [8]:
results = pd.read_csv('../results/train_log_exp3_2nd_file.csv', header=0, dtype=dtypes)
columns = [x.strip() for x in list(dtypes.keys())]
results.columns = columns

In [9]:
results.head()

,Dataset,Model,Seed,Aug,BestEpoch,TestAcc,TestLoss,ValAcc,ValLoss,Device,Time
0,IMDB-BINARY,GCN,1314,Vanilla,136,0.700,0.7624,0.68,1.1394,cpu,275.95
1,IMDB-BINARY,GCN,1314,G-Mixup,6,0.760,0.5180,0.68,0.5254,cpu,288.35
2,IMDB-BINARY,GCN,1314,Subgraph,36,0.745,1.3456,0.71,1.5321,cpu,74.98
3,IMDB-BINARY,GCN,1314,DropEdge,3,0.715,0.6268,0.69,0.6022,cpu,123.67
4,IMDB-BINARY,GCN,1314,DropNode,7,0.770,0.4938,0.72,0.5869,cpu,81.34

In [10]:
grouped = results.groupby(['Aug', 'Model', 'Dataset']).agg([np.mean, np.std, np.count_nonzero]).loc[:,['TestAcc']]
grouped

C:\Users\ermin.omeragic\AppData\Local\Temp\ipykernel_23160\1816575529.py:1: FutureWarning: ['Device'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grouped = results.groupby(['Aug', 'Model', 'Dataset']).agg([np.mean, np.std, np.count_nonzero]).loc[:,['TestAcc']]

                                       TestAcc
                                          mean       std count_nonzero
Aug       Model     Dataset
 DropEdge  DiffPool IMDB-BINARY       0.719000  0.025473          10.0
                    IMDB-MULTI        0.490667  0.017413          10.0
                    REDDIT-BINARY          NaN       NaN           NaN
                    REDDIT-MULTI-12K       NaN       NaN           NaN
                    REDDIT-MULTI-5K        NaN       NaN           NaN
...                                        ...       ...           ...
 Vanilla   TopKPool IMDB-BINARY       0.706500  0.031977          10.0
                    IMDB-MULTI        0.493333  0.025724          10.0
                    REDDIT-BINARY          NaN       NaN           NaN
                    REDDIT-MULTI-12K       NaN       NaN           NaN
                    REDDIT-MULTI-5K        NaN       NaN           NaN

[125 rows x 3 columns]

### Analysis of train/val/test losses